
  <div class="group">
    <%= f.label :name, t("activerecord.attributes.item.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description">Name</span>
  </div>

  <div class="group">
    <%= f.label :description, t("activerecord.attributes.item.description", :default => "Description"), :class => :label %>
    <%= f.text_field :description, :class => 'text_field' %>
    <span class="description">Description</span>
  </div>

  <div class="group">
    <%= f.label :image, t("activerecord.attributes.item.image_file_name", :default => "Image file"), :class => :label %>
    <%= f.file_field :image, :class => 'text_field' %>
    <span class="description">Image file</span>
  </div>


        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), items_path, :class => "button" %> 
</div>