<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", items_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_item_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", item_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.item.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @item.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.item.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @item.description %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.item.image_updated_at", :default => t("activerecord.labels.image_updated_at", :default => "Image")) %>:</b>
          <%= image_tag @item.image.url(:medium) %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_item_path(@item), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), item_path(@item), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>